/*
 * BitcasaLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package io.cloudfs.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.type.TypeReference;
import org.joda.time.DateTime;

import io.cloudfs.*;
import io.cloudfs.models.*;
import io.cloudfs.exceptions.*;
import io.cloudfs.http.client.HttpClient;
import io.cloudfs.http.client.HttpContext;
import io.cloudfs.http.request.HttpRequest;
import io.cloudfs.http.response.HttpResponse;
import io.cloudfs.http.response.HttpStringResponse;
import io.cloudfs.http.client.APICallBack;
import io.cloudfs.controllers.syncwrapper.APICallBackCatcher;

public class AuthenticationOperationsController extends BaseController {    
    //private static variables for the singleton pattern
    private static Object syncObject = new Object();
    private static AuthenticationOperationsController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the AuthenticationOperationsController class 
     */
    public static AuthenticationOperationsController getInstance() {
        synchronized (syncObject) {
            if (null == instance) {
                instance = new AuthenticationOperationsController();
            }
        }
        return instance;
    }

    /**
     * TODO: type endpoint description here
     * @param    authorization    Required parameter: BCS :
     * @param    date    Required parameter: Example: 
     * @param    username    Required parameter: Example: 
     * @param    password    Required parameter: Example: 
     * @return    Returns the AuthenticationResponse response from the API call 
     */
    public AuthenticationResponse createOAuth2PasswordCredentialsGrant(
                final String authorization,
                final DateTime date,
                final String username,
                final String password
    ) throws Throwable {
        APICallBackCatcher<AuthenticationResponse> callback = new APICallBackCatcher<AuthenticationResponse>();
        createOAuth2PasswordCredentialsGrantAsync(authorization, date, username, password, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * TODO: type endpoint description here
     * @param    authorization    Required parameter: BCS :
     * @param    date    Required parameter: Example: 
     * @param    username    Required parameter: Example: 
     * @param    password    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void createOAuth2PasswordCredentialsGrantAsync(
                final String authorization,
                final DateTime date,
                final String username,
                final String password,
                final APICallBack<AuthenticationResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = String.format(Configuration.baseUri, Configuration.accountId);

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder(_baseUri);
                _queryBuilder.append("/v2/oauth2/token");
                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>() {
                    private static final long serialVersionUID = 5432863972726589042L;
                    {
                        put( "Authorization", authorization );
                        put( "Content-Type", "application/x-www-form-urlencoded; charset=utf8" );
                        put( "Date", DateTimeHelper.toRfc8601DateTime(date) );
                        put( "user-agent", "APIMATIC 2.0" );
                        put( "accept", "application/json" );
                    }
                };

                //load all fields for the outgoing API request
                Map<String, Object> _parameters = new HashMap<String, Object>() {
                    private static final long serialVersionUID = 5469869087846043683L;
                    {
                        put( "grant_type", "password" );
                        put( "username", username );
                        put( "password", password );
                    }
                };

                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().post(_queryUrl, _headers, APIHelper.prepareFormFields(_parameters));

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            AuthenticationResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<AuthenticationResponse>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * TODO: type endpoint description here
     * @param    authorization    Required parameter: Bearer
     * @return    Returns the void response from the API call 
     */
    public void getPing(
                final String authorization
    ) throws Throwable {
        APICallBackCatcher<Object> callback = new APICallBackCatcher<Object>();
        getPingAsync(authorization, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        callback.getResult();
    }

    /**
     * TODO: type endpoint description here
     * @param    authorization    Required parameter: Bearer
     * @return    Returns the void response from the API call 
     */
    public void getPingAsync(
                final String authorization,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {
                //the base uri for api requests
                String _baseUri = String.format(Configuration.baseUri, Configuration.accountId);

                //prepare query string for API call
                StringBuilder _queryBuilder = new StringBuilder(_baseUri);
                _queryBuilder.append("/v2/ping HTTP/1.1");
                //validate and preprocess url
                String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

                //load all headers for the outgoing API request
                Map<String, String> _headers = new HashMap<String, String>() {
                    private static final long serialVersionUID = 5486923830656882887L;
                    {
                        put( "Authorization", authorization );
                        put( "Content-Type", "application/x-www-form-urlencoded; charset=utf8" );
                        put( "Authorization", String.format("Bearer %1$s", Configuration.oAuthAccessToken) );
                        put( "user-agent", "APIMATIC 2.0" );
                    }
                };

                //prepare and invoke the API call request to fetch the response
                final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

                //invoke the callback before request if its not null
                if (getHttpCallBack() != null)
                {
                    getHttpCallBack().OnBeforeRequest(_request);
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //let the caller know of the success
                            callBack.onSuccess(_context, _context);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)
                        {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}